name: Test tap-pipedream

on:
  push:
    branches: [main]
    paths:
    - tap_pipedream/**
    - tests/**
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
    - tap_pipedream/**
    - tests/**
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  schedule:
  - cron: "0 10 * * *"
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=prek
  PREK_VERSION: 0.3.3
  # renovate: datasource=pypi depName=tox
  TOX_VERSION: 4.34.1
  # renovate: datasource=pypi depName=tox-uv
  TOX_UV_VERSION: 1.29.0
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.10.4

jobs:
  tests:
    name: Integration
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.12"
        - "3.13"
        - "3.14"

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      with:
        version: ${{ env.UV_VERSION }}
    - name: Run
      env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-version }}
        TAP_PIPEDREAM_TOKEN: ${{ secrets.TAP_PIPEDREAM_TOKEN }}
      run: >
        uvx
        --with tox-uv==${{ env.TOX_UV_VERSION }}
        --with tox==${{ env.TOX_VERSION }}
        tox -e ${{ matrix.python-version }}

  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      id: setup-python
      with:
        python-version: 3.x
    - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      with:
        version: ${{ env.UV_VERSION }}
    - env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
      run: uv tool install --with tox-uv==${{ env.TOX_UV_VERSION }} --from tox==${{ env.TOX_VERSION }} tox
    - name: Static type checking
      run: tox -e typing
    - name: Unused, missing and transitive dependencies
      run: tox -e dependencies

  pre-commit:
    name: pre-commit
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      with:
        version: ${{ env.UV_VERSION }}
    - run: >
        uvx
        --with prek==${{ env.PREK_VERSION }}
        prek run --show-diff-on-failure --all-files
