name: Test tap-pipedream

on:
  push:
    branches: [main]
    paths:
    - tap_pipedream/**
    - tests/**
    - pyproject.toml
    - tox.ini
    - uv.lock
    - .github/workflows/test.yml
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
    - tap_pipedream/**
    - tests/**
    - pyproject.toml
    - tox.ini
    - uv.lock
    - .github/workflows/test.yml
  schedule:
  - cron: "0 10 * * *"
  workflow_dispatch:

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=tox
  TOX_VERSION: 4.28.4
  # renovate: datasource=pypi depName=tox-uv
  TOX_UV_VERSION: 1.28.0
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.8.11

jobs:
  tests:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@4959332f0f014c5280e7eac8b70c90cb574c9f9b # v6.6.0
      with:
        version: ${{ env.UV_VERSION }}
    - name: Run
      env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-version }}
        TAP_PIPEDREAM_TOKEN: ${{ secrets.TAP_PIPEDREAM_TOKEN }}
      run: >
        uvx
        --with tox-uv==${{ env.TOX_UV_VERSION }}
        --with tox==${{ env.TOX_VERSION }}
        tox -e ${{ matrix.python-version }}

  lint:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      id: setup-python
      with:
        python-version: 3.x
    - uses: astral-sh/setup-uv@4959332f0f014c5280e7eac8b70c90cb574c9f9b # v6.6.0
      with:
        version: ${{ env.UV_VERSION }}
    - env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
      run: uv tool install --with tox-uv==${{ env.TOX_UV_VERSION }} --from tox==${{ env.TOX_VERSION }} tox
    - name: Static type checking
      run: tox -e typing
    - name: Unused, missing and transitive dependencies
      run: tox -e dependencies

  pre-commit:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: "3.x"
    - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
    - uses: pre-commit-ci/lite-action@5d6cc0eb514c891a40562a58a8e71576c5c7fb43 # v1.1.0
      if: always()
